/* ----------------------------------------------------------------------------------- */
/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* ----------------------------------------------------------------------------------- */
body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #012A4A;
  overflow: overlay;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;

}

::-webkit-scrollbar{
  background: transparent;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #0B446F;
  border-radius: 10px;
}
::-webkit-scrollbar-corner {
  border-radius: 10px;
  background: #0B446F;
}
::-webkit-scrollbar:hover {
  background-color: transparent;
  width: 10px;
}

/* ----------------------------------------------------------------------------------- */
/* Header */
header {
  color: #F2F2F2;
  background-color: #012A4A;
  padding: 1rem;
  font-size: xx-large;
}

.logo {
  border-left: 7px solid #0D5185;
  padding-left: 1.5rem;
  margin-left: 2rem;
  text-transform: uppercase;
}

.logo a {
  text-decoration: none;
  color: #F2F2F2;
}

.logo a:hover {
  color: #89C2D9;
}

/* ----------------------------------------------------------------------------------- */
/* Navbar */
#navigation { 
  position: sticky;
  top: 0%;
  z-index: 10;
}

.navbar {
  overflow: hidden;
  background-color: #0D5185;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a.active {
  background-color: #013A63;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #F2F2F2;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #013A63;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #A9D6E5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #013A63;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #89C2D9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ----------------------------------------------------------------------------------- */
/* Slider */
.slider-container {
  width: 100%;
  height: 450px;
  border: 2px solid steelblue;
  overflow: hidden;
}
.slider {
  overflow: hidden;
}
.slider figure {
  position: relative;
  width: 620%;
  margin: 0;
  left: 0;
  animation: 20s slides infinite;
}
.slider figure img {
  float: left;
  width: 16.13%;
}

@keyframes slides {
  0% {left: 0;}
  16%{left: 0;}
  20%{left: -100%;}
  36%{left: -100%;}
  40%{left: -200%;}
  56%{left: -200%;}
  60%{left: -300%;}
  76%{left: -300%;}
  80%{left: -400%;}
  96%{left: -400%;}
  100%{left: -500%;}
}

/* ----------------------------------------------------------------------------------- */
/* Products */
.product-container {
  margin: 0.5em;
  padding: 1em;
  /* color: #F2F2F2;
  background-color: #012A4A; */
}

.product-container h2 {
  margin: 1rem;
}

.row {
  display: flex;
  justify-content: space-evenly;
}


.covid-care, .diabetes-care {
  margin-top: 4em;
}

.product {
  display: inline-block;
  width: 18%;
  padding: 1.2em;
  margin: 1em;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
}

.product:hover {
  transform: scale(1.1);
}

.product img {
  display: flex;
  /* width: 300px;
  height: 200px; */
  width: 17vw;
  height: 20vh;
}

.product a {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #F2F2F2;
  background-color: #1465A3;
  padding: 0.5rem;
  border: 3px solid #013A63;
  width: 93%;
  display: block;
  border-radius: 20px;

}

.product a:hover {
  background-color: #89C2D9;
}

.product a:active {
  background-color: rgb(250, 234, 230);
  border-color: rgb(0, 255, 76);
  color: #012A4A
}

/* ----------------------------------------------------------------------------------- */
/* Footer */
footer {
  color: #F2F2F2;
  background-color: #012A4A;
  padding: 1rem;
  font-size: large;
  text-align: center;
  margin-top: 4em;
}

/* ----------------------------------------------------------------------------------- */
/* @media Rule */
@media screen and (max-width: 1024px) {
  .slider-container {
    height: 300px;
  }
  .product-container {
    padding: 0em ;
  }
  .product {
    width: 15vw;
    min-height: 40vh;
    
  }
  .product img {
    width: 15vw;
  }
  
}

@media screen and (max-width: 768px) {
  .slider-container {
    height: 200px;
  }
  .row {
    display: inline-block;
  }
  .product {
    width: 30vw;
    min-height: 40vh;
  }
  .product img {
    width: 28vw;
  }
}

@media screen and (max-width: 480px) {
  .slider-container {
    height: 100px;
  }
  .product {
    width: 80%;
  }

  .product img {
    width: 66vw;
  }
}